*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.home{
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
color: white;
}
.img{
    display: flex;
    justify-content: center;
}
.info{
    line-height: 3rem;
}
.btn{
    padding: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
   background-color: rgb(0, 0, 0); 
   border: 0px;
   border-radius: 20px;
   color: aliceblue;
}
  @media screen and ( max-width:425px){
    .home{
        padding-top: 3rem;
        padding-bottom: 15rem;
    }
}